{% include "layouts/headmain.njk" %}
<body>
<div class="center-wrapper">
    {% include "layouts/header.njk" %}
    {% include "layouts/nav.njk" %}
    <main class="center-content">
        <div class="container">
            <section id="section1">
                <h2>links</h2>
                <ul>
                    <li><a href="https://www.youtube.com/watch?v=G4tWWiuaF7g">Video about Abstraction</a></li>
                </ul>
            </section>
    </main>
    <hr>
</div>
{% include "layouts/footer.njk" %}
</body>
</html>