<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ocius</title>
<link rel="stylesheet" href="/bundle.css">
<link rel="icon" href="/favicon.svg" type="image/svg+xml">
<link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">


    <!-- MathJax Begin: -->
    <!-- Inline code so it ensures it loads in the correct order. -->

    <script type = "text/x-mathjax-config">
        MathJax.Hub.Config({
            showMathMenu: false,
            jax: ["input/TeX", "input/AsciiMath", "output/PlainSource"],
            PlainSource: {
                styles: {
                    ".MathJax_PlainSource_Display": {
                        "text-align": "center",
                        margin: ".75em 0px",
                        "white-space": "pre"
                    }
                }
            },
            tex2jax: {
                inlineMath: [
                    ['$', '$'],
                    ['\\(', '\\)']
                ],
                displayMath: [
                    ['\\[', '\\]']
                ],
                processEscapes: true
            }
        }); </script>


    <script type="text/javascript" async src="https://cdn.jsdelivr.net/npm/mathjax@2.7.9/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    <!-- Original config was 'TeX-AMS_HTML' for the above -->
    <!-- MathJax End. -->





</head>