<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ocius</title>
<link rel="stylesheet" href="/bundle.css">
<link rel="stylesheet" href="https://use.typekit.net/nps3acu.css">
<link rel="icon" href="/favicon.svg" type="image/svg+xml">
<link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">


<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>

<script>
window.MathJax = {
  loader: {
    load: ['input/asciimath', 'input/tex', 'output/chtml', 'ui/menu']
  },
  asciimath: {
    delimiters: [['$','$'], ['`','`']]
  },
  tex: {
    inlineMath: [['\\(', '\\)']],
    displayMath: [['$$', '$$'], ['\\[', '\\]']],
  }
};
</script>
<script id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/startup.js">
</script>





</head>