<hr>
<nav class="center-content-nav">
<ul>
<li><a href="/">home</a></li>
<li><a href="/blog">blog</a></li>
<li><a href="/docs">docs</a></li>
<li><a href="/download">download</a></li>
<li><a href="/donate">donate</a></li>
<li><a href="/links">links</a></li>
</ul>
</nav>
<hr>